.AddForm-body{
    padding: 1rem;
}

.AddForm-h2{
    margin-bottom: 2rem;
    text-align: center;
}

.AddForm-addBtn{
    margin-top: 4rem;
    text-align: center;
}

.AddForm-form{
    max-width: 400px;
    margin: 0 auto;
}

