.Login-body{
    padding: 1rem;
}

.Login-form{
    width: 80%;
    margin: 0 auto;
}

.Login-title{
    margin-bottom: 2rem;
    text-align: center;
}

.Login-btn{
    margin-top: 3rem;
    text-align: center;
}

.Login-register-link{
    text-align: center;
}