.Signup-body{
}

.Signup-body{
    padding: 1rem;
}

.Signup-title{
    text-align: center;
}

.Signup-btn{
    margin-top: 2rem;
    text-align: center;
}

.Signup-login-link{
    text-align: center;
}

.Signup-form{
    max-width: 400px;
    margin: 0 auto;
}


